.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

    @media (max-width: 560px) {
        max-width: 100%;
    }
}

.min-heigth {
    min-height: 72%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}