.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.link {
    text-decoration: none;
    color: red;
}

.logo {
    font-size: 2em;
    list-style: none;
    cursor: pointer;
}

@media (max-width: 560px) {
    .footer {
        font-size: 12px;
    }

    .logo {
        font-size: 2.5em;
    }
}