.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em 5em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.title {
    color: #fff; 
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}